<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>week7</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <h2 class="title1">歡迎光臨，請註冊登入系統</h2>
    <div class="signup">
        <h3 class="title2">註冊帳號</h3>
        <form id="signupForm" action="/signup" method="POST">
            姓名 <input class="name" name="name" type="text"><br>
            帳號 <input class="username signupUsername" name="username" type="text"><br>
            密碼 <input class="password signupPassword" name="password" type="password"><br>
            <button class="btn">註冊</button>
        </form>
    </div>
    <div class="signin">
        <h3 class="title2">登入系統</h3>
        <form id="signinForm" action="/signin" method="POST">
            帳號 <input class="username signinUsername" name="username" type="text"><br>
            密碼 <input class="password signinPassword" name="password" type="password"><br>
            <button class="btn">登入</button>
        </form>
    </div>

    <script type="module" src="/static/index.js"></script>
</body>
</html>